table#imerge {
    border-collapse: collapse;
    font-family: monospace;
}

table#imerge td {
    padding: 15px 5px;
    border: 1px dashed #444;
    text-align: center;
}

table#imerge td.col_left {
    border-left: 1px solid black;
}

table#imerge td.col_right {
    border-right: 1px solid black;
}

table#imerge td.row_top {
    border-top: 1px solid black;
}

table#imerge td.row_bottom {
    border-bottom: 1px solid black;
}

table#imerge th {
    padding: 5px 5px;
    text-align: center;
    background: #fff;
    border: none;
}

table#imerge td.frontier_right_edge {
    border-right: 5px solid black;
}

table#imerge td.frontier_bottom_edge {
    border-bottom: 5px solid black;
}

table#imerge td.frontier_within {
    background: #afa;
}

table#imerge td.frontier_without {
    background: #faa;
}

table#imerge td.merge_initial {
    background: #cdf;
}

table#imerge td.merge_manual {
    font-weight: bold;
}

table#imerge td.merge_unknown:before {
    content: "?";
}

table#imerge td.merge_unknown {
    color: #555;
}

table#imerge td.merge_blocked:before {
    content: "BLOCKER";
}

table#imerge td.merge_blocked {
    background: #c33;
    border: 1px solid #400;
    font-weight: bold;
}
